body {
    font-family: 'Poppins', sans-serif;
}

.color {
    color: teal;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.flexiable-container {
    display: flex;
    margin-bottom: 120px;


}

.half-width {
    display: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
    padding-top: 10%;
    padding-left: 30%;

}

.link-button {
    color: rgb(98, 92, 85);
    background-color: chartreuse;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 20px;
    background-image: -moz-linear-gradient(red, orange);
}