body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.color {
    color: teal;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

/*#mid-section-paragraph {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}*/

.flexiable-container {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    display: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
    padding-left: 25%;
    padding-top: 10px;
}

.link-button {
    color: rgb(40, 29, 16);
    background-color: chartreuse;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
    background-image: -moz-linear-gradient(red, orange);
}

.contact-me {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 3px;

}