body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.color {
    color: teal;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 19px;
    margin: justify;
}

/*#mid-section-paragraph {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}*/

.flexiable-container {
    display: flex;
    margin-bottom: 120px;
    margin-left: 59px;
    <<<<<<< HEAD=======>>>>>>>second-section
}

.half-width {
    display: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 60%;
    padding-left: 5%;
    padding-top: 10px;
}

.link-button {
    color: rgb(98, 92, 85);
    background-color: chartreuse;
    border-radius: 5px;
    text-decoration: none;
    padding: 9px 12px;
    background-image: -moz-linear-gradient(red, orange);
}

.order-food {

    background-position: right;
    background-repeat: no-repeat;
    margin: justify;
}

.contact-me {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: justify;

}

.My-recipies {
    text-align: center;
    color: rgb(80, 77, 77);
}